* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left-container {
    display: inline-block;
    margin-left: 112px;
}

.rigth-container {
    display: inline-block;
    margin: 28px 112px 98.23px 32px;
    position: absolute;
}

.main-twitter-img {
    width: 592px;
    height: 934px;
}

.secondary-twitter-img {
    width: 68.182px;
    height: 60px;
    margin-bottom: 47px;
}

h1 {
    color: #000;
    font-size: 64.582px;
    font-weight: 700;
    margin-bottom: 30px;
}

.subtitle-login {
    width: 384px;
    height: 60px;
    color: #000;
    font-size: 45px;
    font-weight: 700;
}

.google-img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.google-login {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0.5px;
    display: inline-block;
}

.google-button {
    width: 384px;
    height: 53px;
    border-radius: 20px;
    border: 1px solid #E6E4E4;
    background: #FFF;
    color: #6D7378;
    font-family: Arial;
    font-weight: 400;
    cursor: pointer;
}

.google-button:hover {
    opacity: 0.6;
}

.apple-img {
    width: 16px;
    height: 16px;
}

.apple-button {
    width: 384px;
    height: 53px;
    border-radius: 20px;
    border: 1px solid #E6E4E4;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 22.62px 0 28.15px 0;
}

.apple-button:hover {
    opacity: 0.5;
}

.div-paragraphs {
    text-align: center;
    display: flex;
    margin-bottom: 22.82px;
}

.paragraph-line {
    width: 176px;
    height: 1px;
    background: rgba(140, 134, 134, 0.70);
}

.paragraph-line2 {
    width: 176px;
    height: 1px;
    background: rgba(140, 134, 134, 0.70);
}

.paragraph-or {
    color: #8C8686;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.email-phone-button {
    font-family: Arial;
    width: 384px;
    height: 53px;
    border-radius: 20px;
    background: #00A0F4;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-bottom: 24.82px;
}

.email-phone-button:hover {
    opacity: 0.5;
}

.class-terms {
    cursor: pointer;
    color: #8C8686;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 400;
    width: 384px;
    height: 38px;
    margin-bottom: 72px;
}

.link-terms {
    color: #00A0F4;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 400;
}

.subtitle-access {
    color: #000;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-twitter{
    width: 462px;
    height: 63.766px;
    border-radius: 24.063px;
    border: 1.203px solid #E6E4E4;
    background: #FFF;
    color: #00A0F4;
    font-family: Arial;
    font-size: 21.656px;
    font-weight: 700;
    cursor: pointer;
}

.login-twitter:hover{
    opacity: 0.8;
}

.terms-additional-information {
    margin: 15px 0 15px 163px;
}

.link-terms-bottom{
    margin-left: 15px;
    cursor: pointer;
    color: #8C8686;
    font-family: "Segoe UI";
    color: #8C8686;
    font-size: 12px;
    font-weight: 400;
}

.link-terms-bottom:hover{
    opacity: 0.7;
}

.twitter-partnerships{
    margin: 0 453px 0 453px;
}
